{% extends 'base.html' %}

{% block title %}Home - Liverpool FC{% endblock %}

{% block content %}
<div class="memorable-things">
    <h2>Memorable Things</h2>
</div>   

<div class="memorable-section">
    <div class="memorable-left">
        <img src="{{ url_for('static', filename='images/memorable1.png') }}" alt="Image 1" class="memorable-left-onethree"> 
        <p>หลังจากการรอคอยอันยาวนานถึง 30 ปี ลิเวอร์พูลสามารถคว้าแชมป์พรีเมียร์ลีกฤดูกาล 2019/20 ได้สำเร็จอย่างยิ่งใหญ่! ภายใต้การคุมทีมของ เจอร์เก้น คล็อปป์ 'หงส์แดง' ทำผลงานได้อย่างโดดเด่น เก็บชัยชนะถึง 99 คะแนน ทิ้งห่างคู่แข่งแบบขาดลอย และการันตีแชมป์ได้ตั้งแต่ยังเหลือการแข่งขันอีก 7 นัด นี่คือช่วงเวลาแห่งประวัติศาสตร์ที่แฟนบอลเดอะค็อปทั่วโลกไม่มีวันลืม!</p>
    </div>
    
    <div class="memorable-right">
        <img src="{{ url_for('static', filename='images/memorable2.png') }}" alt="Image 2" class="memorable-right-twofour">
        <p>ลิเวอร์พูลสร้างหนึ่งในคัมแบ็กที่ยิ่งใหญ่ที่สุดในประวัติศาสตร์ฟุตบอล นัดชิงชนะเลิศยูฟ่า แชมเปียนส์ลีก 2004/05 พวกเขาตามหลัง เอซี มิลาน 0-3 ตั้งแต่ครึ่งแรก แต่ไม่ยอมแพ้!
            ครึ่งหลัง 'หงส์แดง' ใช้เวลาเพียง 6 นาที ไล่ตีเสมอ 3-3 จาก สตีเวน เจอร์ราร์ด, วลาดิเมียร์ ซมิเซอร์ และ ซาบี อลอนโซ ก่อนที่ เจอร์ซี่ ดูเด็ค จะเซฟจุดโทษในช่วงดวลเป้า นำลิเวอร์พูลคว้าแชมป์ยุโรปสมัยที่ 5 ได้สำเร็จ
            นี่คือค่ำคืนที่แฟนบอลเดอะค็อปจะไม่มีวันลืม!</p>
    </div>
    
    <div class="memorable-left">
        <img src="{{ url_for('static', filename='images/memorable3.png') }}" alt="Image 3" class="memorable-left-onethree">
        <p>ปาฏิหาริย์แอนฟิลด์!
            ลิเวอร์พูลสร้างหนึ่งในคัมแบ็กที่ยิ่งใหญ่ที่สุดในประวัติศาสตร์ฟุตบอล เมื่อพวกเขาถล่ม บาร์เซโลนา 4-0 ที่แอนฟิลด์ แม้จะแพ้มาก่อน 0-3 ในเลกแรก ดิว็อค โอริกี้ ยิงนำเร็ว ก่อนที่ จอร์จินิโอ ไวจ์นัลดุม จะทำสองประตูรวด ตีเสมอสกอร์รวม 3-3 และช่วงเวลาสำคัญก็มาถึงเมื่อ เทรนต์ อเล็กซานเดอร์-อาร์โนลด์ เล่นเตะมุมสุดฉลาดให้ โอริกี้ ยิงประตูชัย 4-0 ลิเวอร์พูลพลิกสถานการณ์ผ่านเข้ารอบชิงฯ และคว้าแชมป์ยุโรปสมัยที่ 6 ได้ในที่สุด!</p>
    </div>
    
    <div class="memorable-right">
        <img src="{{ url_for('static', filename='images/memorable4.png') }}" alt="Image 4" class="memorable-right-twofour">
        <p>ลิเวอร์พูล แชมป์ยุโรปสมัยที่ 6!
            หลังจากรอคอยมา 14 ปี ลิเวอร์พูลกลับมาผงาดบนเวทียูฟ่า แชมเปียนส์ลีก อีกครั้งในฤดูกาล 2018/19 โดยในรอบชิงชนะเลิศที่กรุงมาดริด พวกเขาเอาชนะ ท็อตแน่ม ฮ็อตสเปอร์ 2-0 คว้าแชมป์สมัยที่ 6 ไปครองได้อย่างยิ่งใหญ่
            'หงส์แดง' ออกนำอย่างรวดเร็วตั้งแต่นาทีที่ 2 จากจุดโทษของ โมฮาเหม็ด ซาลาห์ ก่อนที่ ดิว็อค โอริกี้ จะซัดประตูปิดกล่องในช่วงท้ายเกม ส่งให้ลูกทีมของ เจอร์เก้น คล็อปป์ คว้าแชมป์ยุโรปได้สำเร็จ นี่คือค่ำคืนแห่งความยิ่งใหญ่ที่เดอะค็อปทั่วโลกไม่มีวันลืม!</p>
    </div>
</div>

<!-- รูปที่ต้องการให้อยู่ล่างติดขอบ -->
<!-- <img src="{{ url_for('static', filename='images/last.png') }}" alt="Last Image" class="last-img"> -->

{% endblock %}
